.clicked {
    background-color: #C2D6D3; /* Cambia el color de fondo cuando se hace clic */
    color: black;
}

.active {
    background-color: #AFBFBD;
    border-radius: 10px;
    color: white;
}