.clicked {
    background-color: #5D8CF7; /* Cambia el color de fondo cuando se hace clic */
    color: white; /* Cambia el color del texto cuando se hace clic */
}
.active {
    background-color: #AFBFBD;
    border-radius: 10px;
}