body {
    background-color: #C2D6D3;
}

#header {
    border-radius: 10px;
}

#resultado {
    background-color: red;
    color: white;
    font-weight: bold;
}

#resultado.ok {
    background-color: green;
}

#resultado {
    background-color: red;
    color: white;
    font-weight: bold;
}
#resultado.ok {
        background-color: green;
}
input:invalid { border-color: red; } input, input:valid { border-color: #ccc; }